*.exe
*.dll
OzertsovAlexander/16/bin/Debug/FSharp.Core.xml
OzertsovAlexander/16/bin/Debug/Сумма.exe.config
OzertsovAlexander/16/bin/Debug/Сумма.pdb
OzertsovAlexander/16/bin/Debug/Сумма.XML
OzertsovAlexander/16/obj/Debug/Addition.fsproj.FileListAbsolute.txt
OzertsovAlexander/16/obj/Debug/Сумма.pdb

OzertsovAlexander/20/DeleteNumbers/DeleteNumbers.v12.suo
OzertsovAlexander/20/DeleteNumbers/DeleteNumbers/bin/Debug/DeleteNumbers.exe.config
OzertsovAlexander/20/DeleteNumbers/DeleteNumbers/bin/Debug/DeleteNumbers.pdb
OzertsovAlexander/20/DeleteNumbers/DeleteNumbers/bin/Debug/DeleteNumbers.XML
OzertsovAlexander/20/DeleteNumbers/DeleteNumbers/bin/Debug/FSharp.Core.xml
OzertsovAlexander/20/DeleteNumbers/DeleteNumbers/obj/Debug/DeleteNumbers.fsproj.FileListAbsolute.txt
OzertsovAlexander/20/DeleteNumbers/DeleteNumbers/obj/Debug/DeleteNumbers.pdb
OzertsovAlexander/22/ConvertToArr/ConvertToArr.v12.suo
OzertsovAlexander/22/ConvertToArr/ConvertToArr/bin/Debug/ConvertToArr.exe.config
OzertsovAlexander/22/ConvertToArr/ConvertToArr/bin/Debug/ConvertToArr.pdb
OzertsovAlexander/22/ConvertToArr/ConvertToArr/bin/Debug/ConvertToArr.XML
OzertsovAlexander/22/ConvertToArr/ConvertToArr/bin/Debug/FSharp.Core.xml
OzertsovAlexander/22/ConvertToArr/ConvertToArr/obj/Debug/ConvertToArr.fsproj.FileListAbsolute.txt
OzertsovAlexander/22/ConvertToArr/ConvertToArr/obj/Debug/ConvertToArr.pdb
