*.exe
*.dll
OzertsovAlexander/16/bin/Debug/FSharp.Core.xml
OzertsovAlexander/16/bin/Debug/Сумма.exe.config
OzertsovAlexander/16/bin/Debug/Сумма.pdb
OzertsovAlexander/16/bin/Debug/Сумма.XML
OzertsovAlexander/16/obj/Debug/Addition.fsproj.FileListAbsolute.txt
OzertsovAlexander/16/obj/Debug/Сумма.pdb
